@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #202d3a;
  min-height: calc(100vh - 8vw);
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
  background-color: #202d3a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='299' height='299' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232D4443' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%233A524B'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-blend-mode: color-dodge;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  min-height: calc(100vh - 6rem);
  margin-bottom: 20vw !important;
}

.landing {
  width: 100%;
}

.section__heading {
  display: flex;
  justify-content: center;
}
.section__heading h1 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
  color: white;
  margin-bottom: 10vw;
  filter: drop-shadow(2px 2px 1px #587d71);
}
@media (min-width: 768px) {
  .section__heading h1 {
    margin-top: 4rem;
  }
}

.section__content {
  margin-top: 2rem;
}
.section__content--left {
  flex: 50%;
}

section {
  min-height: calc(100vh - 1rem);
  margin-bottom: 20vw !important;
  scroll-margin-top: -10px;
}
@media (min-width: 768px) {
  section {
    scroll-margin-top: 6rem;
  }
}

small {
  font-size: 1rem;
  font-weight: 300;
}

.shadowed {
  max-width: 95%;
  margin: 0 auto;
  filter: drop-shadow(-16px -16px 0px #daf0ee);
}

article {
  margin: 5vw auto;
}

.content-text-r {
  text-align: right;
}
.content-text-r h4 {
  font-weight: 200;
}
.content-text-r h1 {
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.1;
}
.content-text-r h1 span {
  color: #94d1be;
  font-size: 120%;
}
@media (min-width: 768px) {
  .content-text-r h1 {
    font-size: 3.6rem;
  }
}

.content-text-l {
  text-align: left;
}
.content-text-l h4 {
  font-weight: 200;
}
.content-text-l h1 {
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.1;
}
.content-text-l h1 span {
  color: #94d1be;
  font-size: 120%;
}
@media (min-width: 768px) {
  .content-text-l h1 {
    font-size: 3.6rem;
  }
}

.gal {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40vh 25vh;
  grid-gap: 1rem;
}
.gal__1-1 {
  grid-area: 1/1/2/2;
}
.gal__1-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gal__1-2 {
  grid-area: 1/2/2/2;
}
.gal__1-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gal__2-1 {
  grid-area: 2/1/3/3;
}
.gal__2-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.v-spacer {
  width: 100%;
  height: 2rem;
}
@media (min-width: 768px) {
  .v-spacer {
    height: 3rem;
  }
}

.link-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 auto;
  margin-left: -6px !important;
  margin-bottom: 6px;
  width: 100%;
}
@media (min-width: 576px) {
  .link-btn {
    justify-content: start;
    width: 50%;
    margin-left: 0 !important;
  }
}
.link-btn i {
  position: absolute;
  color: rgba(148, 209, 190, 0.66);
  font-size: 0.8125rem;
  margin-left: 6px;
  transform-origin: bottom;
  transform: translateX(0);
  transition: all 0.25s ease;
  top: 26%;
}
.link-btn:hover {
  transition: all 0.2s;
  color: #9db5b2;
}
.link-btn:hover i {
  color: #94d1be;
  transform: translateX(6px) scale(1.1);
  top: 31%;
}

.link {
  position: relative;
  display: inline-block;
  color: #94d1be;
  font-weight: lighter;
  transition: all 0.2s ease;
  margin: 0px 3px;
}
.link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: none;
}
.link:hover {
  color: rgba(148, 209, 190, 0.85);
  transition: all 0.2s ease;
}
.link:hover::after {
  background-color: #aa5042;
  transition: all 0.25s ease-out;
}

/*# sourceMappingURL=base.css.map */
