.hero {
  padding-bottom: 3rem;
  box-shadow: 6px 3px 0px 0px rgba(148, 209, 190, 0.1);
  -webkit-box-shadow: 6px 3px 0px 0px rgba(148, 209, 190, 0.1);
  -moz-box-shadow: 6px 3px 0px 0px rgba(148, 209, 190, 0.1);
  background-color: rgba($ash-gray, 0.1);
  background: linear-gradient(
    180deg,
    $gunmetal 33%,
    rgba($ash-gray, 0.1) 75%,
    rgba($ash-gray, 0.3) 100%
  );

  & > :first-child {
    margin-top: 2rem;
  }

  & > :nth-child(2) {
    h1 {
      span {
        color: $light-cyan;
      }
    }
    .cta {
      margin-left: 1.5rem;
      @include md {
        margin-left: 0;
        margin-top: 5rem;
      }
    }
  }

  @include sm {
    padding-top: 5rem;
    background-color: rgba($ash-gray, 0.1);
    background: linear-gradient(
      90deg,
      $gunmetal 33%,
      rgba($ash-gray, 0.1) 75%,
      rgba($ash-gray, 0.3) 100%
    );
  }
}
