#modalContent {
  .modal-body {
    &--container {
      width: 100%;
      @include sm {
        padding: 1rem 1rem;
      }
      .modal-cover {
        &--about {
          background: #bbe1fa;
        }
        margin-top: 0;
        .landing-pic {
          position: relative;
          img {
            max-height: 66vh;
            width: 100%;
            object-fit: cover;
            // margin: 0 auto;
            @include sm {
              object-fit: contain;
            }
          }
        }
      }

      .modal-first-row {
        margin-top: 3vh;
        background: linear-gradient(
          45deg,
          $gunmetal 33%,
          rgba($ash-gray, 0.1) 80%,
          rgba($ash-gray, 0.3) 95%
        );
        @include sm {
          margin-top: 6vh;
        }
      }
    }
  }

  h4 {
    font-weight: 100;
  }
  .row-card {
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba($hookers-green, 0.3);
    h1 {
      text-transform: lowercase;
      text-align: center;
      margin-bottom: 1rem;
      @include md {
        text-align: left;
      }
    }
    .image-rounded {
      margin-bottom: 2rem;
      // width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include md {
        justify-content: center;
        padding-right: 3rem;
      }
      img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        object-fit: cover;
        @include md {
          width: 10rem;
          height: 10rem;
        }
      }
    }
    p {
      text-align: center;
      @include md {
        text-align: start;
      }
    }
  }

  .modal-footer {
    border-top: none;
    position: sticky !important;
    bottom: 0;
    right: 0;
    .closeModal {
      outline: none;
      border: none;
      font-size: 1rem;
      color: $white;
      // background: $gunmetal;
      background-color: rgba($light-cyan, 0.1);
      padding: 0.33rem 0.5rem 0.33rem 2.15rem;
      border-radius: 0.66rem;
      text-transform: uppercase;
      font-weight: 100;
      span {
        i {
          margin-top: 1px;
          transform: translateX(0);
          margin-left: 6px;
          transition: transform 0.25s ease;
        }
      }
      &:hover {
        font-size: 1rem;
        font-weight: 600;
        transition: all 0.28s;
        transition-delay: 0.02s;
        span {
          i {
            margin-top: 3px;
            transform: translateX(-5rem) scale(1.25);
            transition: transform 0.25s ease;
          }
        }
      }
    }
  }
  background: $gunmetal;
  padding: 0;
  margin: 0;
}

.modal-dialog,
.modal-content {
  @include sm {
    min-width: 80vw;
  }
}
