// COLORS
$white: #ffffffff;
$ash-gray: #9db5b2ff;
// $light-cyan: #daf0eeff;
// $tiffany-blue: #94d1beff;
// $gunmetal: #202d3aff;
// $gunmetal: rgb(40, 62, 85);

$light-cyan: #daf0eeff;
$tiffany-blue: #94d1beff;
$gunmetal: #202d3aff;
$redwood: #aa5042ff;
$hookers-green: #587d71ff;

// /* SCSS RGB */
// $light-cyan: rgba(218, 240, 238, 1);
// $tiffany-blue: rgba(148, 209, 190, 1);
// $gunmetal: rgba(32, 45, 58, 1);
// $redwood: rgba(170, 80, 66, 1);
// $hookers-green: rgba(88, 125, 113, 1);
